pkgbase = freedata-server
	pkgdesc = FreeDATA is an open-source HF communication platform using Codec2 data modes for global digital messaging. It offers a server-client architecture, REST API and a messaging system.
	pkgver = 0.17.8
	pkgrel = 1
	url = https://wiki.freedata.app
	install = freedata.install
	arch = x86_64
	license = GPL-3.0
	makedepends = cmake
	makedepends = make
	makedepends = gcc
	depends = uvicorn
	depends = python-pyserial
	depends = python-numpy
	depends = python-psutil
	depends = python-sqlalchemy
	depends = python-requests
	depends = python-websocket-client
	depends = python-fastapi
	depends = python-structlog
	depends = python-sounddevice
	optdepends = freedata-gui: Add Web based GUI interface for server
	optdepends = hamlib: Can use local RIG control
	source = freedata.install
	source = FreeDATA.desktop
	source = freedata.sh
	source = https://github.com/DJ2LS/FreeDATA/archive/refs/tags/v0.17.8.tar.gz
	source = https://github.com/drowe67/codec2/archive/ff00a6e2489f870abb10117ff5bf4b0a64bf05d4.zip
	sha256sums = 7d9b5e2cca9c7f2ee2c6beada910c0e0e0362879a10cba671e9a80247456af1d
	sha256sums = 3fe415e43c909c21af1128cf2b5892d9ee3c2f39557644b228432f5d6e62da8a
	sha256sums = f6c2ab5e77ae21306337094eda4f4d4c251845a4152b50a3938750fccacd61c4
	sha256sums = de5c6159dddfe8ca3c4de82b16bc95ebe336d925c38714a49e993dc9ff781ee9
	sha256sums = 40ede4f9240d6082c49483ccfa6a7f616c09d52a3715bd837f30563301c45e42

pkgname = freedata-server
